@import "tailwindcss";

@layer base {
    :root {
        --background: #f1f7fe;
        --primary: #2b81ea;
        --card: #fafafa;
        --heading: #0d0d0d;
        --muted: #42494d;
        --border: #6a6e6f;
        --red: #DA5C53;
        --blue: #4AA3BA;
        --green: #A8E4B1;
        --yellow: #F3B95F;
        --light-red: #fed8c6;
        --light-green: #e5ffd3;
        --light-yellow: #ffedc3;
        --grey: #d7d7d7;
    }
}

@theme {
    --color-*: initial;
    --default-font-family: "Poppins", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-card: var(--card);
    --color-heading: var(--heading);
    --color-muted: var(--muted);
    --color-border: var(--border);
        --color-red: var(--red);
        --color-blue: var(--blue);
        --color-green: var(--green);
        --color-yellow: var(--yellow);
        --color-light-red: var(--light-red);
        --color-light-green: var(--light-green);
        --color-light-yellow: var(--light-yellow);
        --color-grey: var(--grey);
}

body {
    background-color: #f1f7fe;
}

.spinner {
    background: 
        radial-gradient(farthest-side,#256af4 94%,#0000) top/6.4px 6.4px no-repeat,
        conic-gradient(#0000 30%,#256af4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 6.4px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
    100% {
        transform: rotate(1turn);
    }
}

.mobile-link {
    @apply text-sm font-medium text-muted hover:text-primary transition;
}